*.swp
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.DS_Store
cmd/kubectl-tap/kubectl-tap
kubectl-tap
!kubectl-tap/
dist/*
ci.mod
ci.sum
ig-tests.mod
ig-tests.sum
docs/_book/
*_original
site/
.vim/
venv/
coverage.*
krew/
